:root {
  /* CSS HEX */
  --united-nations-blue: #5386e4ff;
  --independence: #4c4b63ff;
  --spanish-gray: #949396ff;
  --silver-metallic: #aba8b2ff;
  --silver: #c3c3c3ff;
}

html, body, div#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  border: 0 solid transparent;
  padding: 0;
}